<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lista para verificação das boas práticas de fabricação</title>
  </head>
  <body>
    <h1></h1>
    <table border="1">
      <thead>
        <th width = "573">Itens Avaliados</th>
        <th width = "312">Critérios de Avaliação</th>
      </thead>
    </table>
    <table border="1">
      <thead>
        <th width = "488">Hiegiene e Organização dos Ambientes</th>
      </thead>
      <thead>
        <th>Area Externa, Cozinha e Depósito</th>
        <th width="100">Sim</th>
        <th width="100">Não</th>
        <th width="100">Não se aplica</th>
      </thead>
      <!-- É necessário ainda inserir as referências e para onde o dado acolhido será enviado -->
      <tr>
        <td>Área externa livre de sujeiras, objetos em desuso, acúmulo de lixo</td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Área da cozinha limpa de organizada</td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Área do depoisto limpa e organizada</td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Os alimentos armazenados no depósito estão em conformidade</td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Presença de alimentos vencidos ou impróprios para o consumo</td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Presença de planilha de rotina de higienização das instalações</td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Produtos de higienização regularizados pelo Ministério da Saúde</td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Presença da lixeira com tampa e pedal funcionando</td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Sacos de lixo fora da lixeira</td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Observações</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"></td>
      </tr>
      <tr>
        <td><textarea name="obs1" rows="8" cols="80">Insira a Observação Aqui</textarea><td>
      </tr>
      <!-- Complementar caixa de texto de forma correta -->
      <thead>
        <th>Estrutura física da cozinha e do depósito</th>
        <th>Sim</th>
        <th>Não</th>
        <th>Não se aplica</th>
      </thead>
      <!-- Início Segunda Parte da Tabela  -->
      <tr>
        <td>Tamanho da cozinha é adequado e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Tamanho do depósito é adeequado e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Existe mais de um depósito de alimentos</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Piso é adequado e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Presença de ralo sifonado com o sistema abre e fecha</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Parede é adequada e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Teto é adequado e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Portas são adequadas e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Todas as portas possuem rodinho de proteção contra a entrada de insetos e vetores</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>As portas possuem telas milimétricas de proteção contra entrada de insetos e vetores</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Todas as janelas são adequadas e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Todas as janelas possuem telas milimétricas de proteção contra entrada de insetos e vetores</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>A iluminação é adequada</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>A ventilação e circulação de ar são adequadas e capazes de garantir o conforte térmico e o ambiente livre de sujidades</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Existe a presença de equipamentos de ventilação artificial</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Os equipamentos de ventilação artificial são higienizados regularmente e com a manutenção adequada</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Instalações elétricas adequadas</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Lavatórios em condições de higiene, dotados de sabonete líquido inodoro antiséptico,
        toalhas de papel não reciclado ou outro sistema higiênico e seguro de secagem e coletor
        de papel acionados sem contato manual</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td>Existência de lavatórios na área de manipulação com água corrente, em posições adequadas
        em relação ao fluxo de produção e serviço e em número suficiente de modo a atender toda a área
        de produção</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>
      <tr>
        <td></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim"></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1" value="NA"></td>
      </tr>

    </table>




  </body>
</html>
